@media only screen and (min-width: 768px) and (max-width: 959px) {
  .main-home .main-home-top {
    min-height: 300px;
    padding-bottom: 50px;
    .home-top-image {
      height: 300px;
      background-size: contain;
    }
    .home-top-text {
      padding: 40px 0px 0px;
      margin: 20px auto;
      width: 90%;
      h1 {
        font-size: 20px;
      }
    }
  }

  .main-home-middle,
  .main-home-refer,
  .main-home-faq,
  .main-home-contact {
    height: 300px;
    background-size: contain;
  }
  .main-home-service {
    min-height: 1600px;
    padding: 50px 0px 10px;
  }
  .main-home-contact-box {
    padding-bottom: 50px;
  }
  .main-home-refer-box {
    padding-bottom: 100px;
  }
  .sub-footer {
    padding: 50px 0px;
  }
  .main-home-service .service-text-image-box {
    min-height: 250px;
    padding: 10px 0px;
  }

  .main-home-service .service-text-image-box .service-text {
    margin-top: 20px;
  }

  .main-home-about {
    padding: 100px 0px;
    min-height: 600px;
  }
  .contact-image {
    min-height: 300px;
    background-size: contain;
    margin-top: 50px;
  }
  .right-nav {
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    background: transparent !important;
    border: unset;
  }
  .main-home-service {
    .service-text-image-box {
      padding-top: 50px;
      text-align: center;

      .service-image {
        margin: 0px auto;
      }
      .service-text {
        margin: 25px auto;
      }
    }
  }
  .main-home .main-home-top .home-top-image {
    height: 300px;
    background-size: contain;
  }

  .main-home-middle {
    height: 150px;
    background-size: contain;
  }
  .main-home .main-home-intro {
    padding: 50px 0px;
    width: 90%;
    margin: 0px auto;
  }
  .main-home-contact {
    height: 150px;
    background-size: contain;
  }
  .main-home-refer {
    height: 150px;
    background-size: contain;
  }
  .contact-image {
    background-attachment: fixed;
    background-size: contain;
    height: 300px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .main-home-faq {
    height: 200px;
    background-size: contain;
  }

  .main-home-faq-box,
  .main-home-contact-box,
  .main-home-refer-box,
  .main-home-start-box,
  .main-home-service,
  .main-home-about {
    padding-bottom: 50px;
  }
  .start-card,
  .refer-step {
    width: 90%;
    margin: 0px auto;
  }

  .main-home .main-home-top .home-top-text {
    padding: 20px 0px;
    margin: 20px auto;
    width: 90%;
  }
  .refer-with-us {
    width: 90%;
    margin: 0px auto;
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
}
