@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    background: transparent !important;
    border: unset;
  }
  .main-home-service {
    padding-bottom: 30px;
    .service-text-image-box {
      padding-top: 50px;
      text-align: center;

      .service-image {
        margin: 0px auto;
      }
      .service-text {
        margin: 25px auto;
      }
    }
  }
  .main-home .main-home-top .home-top-image {
    height: 300px;
    background-size: 400px;
  }

  .main-home-middle {
    height: 200px;
    background-size: 400px;
  }
  .main-home .main-home-intro {
    padding: 20px 0px;
  }
  .main-home-contact {
    height: 200px;
    background-size: 400px;
  }
  .contact-image {
    background-attachment: fixed;
    background-size: 400px;
    height: 300px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .main-home-faq {
    height: 200px;
    background-size: 400px;
  }
  .error-main {
    background-size: 500px;
  }
  .main-home-faq-box {
    padding-bottom: 30px;
  }

  .intro-1,
  .intro-2,
  .intro-3 {
    width: 90%;
    margin: 0px auto 20px;
  }
}

@media only screen and (max-width: 479px) {
}
