/*
 Description:  MIC Earn Business Home Page
 Author:       Hassan A. Adeola
 Author URI:   https://www.github.com/molary23
 Template:     ReactApp
 Version:      1.0.0
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

/* General Style */
section {
  min-height: 700px;
}

textarea {
  height: 120px !important;
}

.default-btn {
  background: #06c2f7 !important;
  color: #fff !important;
  font-weight: 400;
  border: none;
}

input:focus,
button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-floating.form-floating-group input {
  border-right: none;
}

span.input-group-text {
  background: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
}

.nav-logo {
  width: 200px;
}

nav.top-nav {
  background: transparent;
  font-weight: 500;
}

nav.top-nav.show-bg {
  background: rgba(255, 255, 255, 0.9);
}

.active-nav {
  background: #dfe0e5;
  border-bottom: 2px solid #022854;
}

.nav-link {
  cursor: pointer;
}

/* Modal */
.modal {
  background: rgba(31, 31, 31, 0.7);
}

/* Main Home */
.main-home .main-home-top {
  padding-top: 50px;
  min-height: 500px;
  background: #edf3f4;
}

.main-home .main-home-top .home-top-text {
  padding: 80px 0px;
  width: 80%;
  margin: 50px auto 0px;
}

.main-home .main-home-top .home-top-text h1 {
  font-size: clamp(2.5vw, 2em, 3.5em);
  font-weight: 900;
}

.main-home .main-home-top .home-top-image {
  height: 500px;
  background: url("../asset/images/trading.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home .main-home-intro {
  min-height: 300px;
  text-align: center;
  padding: 150px 0px;
}

.main-home .main-home-intro .intro-1,
.main-home .main-home-intro .intro-2,
.main-home .main-home-intro .intro-3 {
  margin-bottom: 80px;
}

.main-home .main-home-intro .intro-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .main-home-intro .intro-icon svg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 15px;
  background: rgba(62, 134, 216, 0.2);
  color: rgba(23, 109, 207, 0.8);
  text-align: center;
}

.main-home h1 {
  font-weight: 900;
  text-transform: capitalize;
}

.main-home-middle {
  height: 600px;
  background: url("../asset/images/trading.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home-about {
  min-height: 950px;
  text-align: center;
  background: #4059d1;
  padding: 200px 0px;
  color: #fff;
}

.main-home-about .about-ul {
  list-style-type: none;
  text-align: left;
  font-weight: 500;
  padding: 0px;
}

.main-home-about .about-ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-home-about .list-icon {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

.main-home-about h4 {
  font-size: 18px;
  font-weight: 500;
}

.main-home-faq {
  height: 600px;
  background: url("../asset/images/faqs.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home-contact {
  height: 600px;
  background: url("../asset/images/contact.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home-contact-box {
  min-height: 600px;
  padding: 100px 0px;
  background: #fff;
}

.contact-image {
  height: 400px;
  background: url("../asset/images/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form {
  margin: 20px auto 0px;
  width: 95%;
}

.main-home-refer {
  height: 600px;
  background: url("../asset/images/referral.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home-refer-box {
  min-height: 600px;
  padding: 100px 0px 200px;
  background: #fcf6ec;
  text-align: center;
}

.main-home-refer-box h3 {
  font-size: 1.5em;
}

.main-home-refer-box .refer-steps {
  margin-top: 100px;
}

.main-home-refer-box .refer-step {
  margin-bottom: 50px;
}

.main-home-refer-box .refer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home-refer-box .refer-icon svg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 15px;
  background: rgba(116, 131, 190, 0.7);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.page-title h1 {
  font-weight: 900;
}

.main-home-faq-box {
  min-height: 600px;
  padding: 100px 0px;
  background: #fff;
}

.main-home-service {
  min-height: 3600px;
  padding-bottom: 100px;
}

.main-home-service .service-text-image-box {
  padding-top: 100px;
  min-height: 500px;
}

.main-home-service .service-text-image-box .service-image {
  min-height: 400px;
  width: 100%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.main-home-service .service-text-image-box .service-text {
  width: 80%;
  margin: 100px auto 0px;
}

.main-home-service .service-text-image-box .service-text h1 {
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

a.btn.nav-link.btn {
  padding: 7.5px 25px;
}

.sub-footer {
  min-height: 400px;
  padding: 100px 0px;
}

.sub-footer h2 {
  font-size: clamp(1.2vw, 18px, 2.5vh);
  margin-bottom: 20px;
  font-weight: 900;
}

.sub-footer a {
  text-decoration: none;
  color: #242424;
}

.sub-footer a:hover {
  color: #646464;
}

.sub-footer .footer-address,
.sub-footer .footer-intro,
.sub-footer .footer-connect {
  width: 80%;
  margin: 5px auto;
}

.sub-footer .footer-connect svg {
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}

.sub-footer .facebook-icon-a {
  color: #3b5998;
}

.sub-footer .twitter-icon-a {
  color: #00acee;
}

.sub-footer .linkedin-icon-a {
  color: #0e76a8;
}

.sub-footer .instagram-icon-a {
  color: #30618a;
}

.sub-footer address {
  margin-bottom: 10px;
}

.fixed-bottom {
  height: 50px;
  padding-top: 20px;
}

.error-holder {
  margin: 80px auto;
}

.error-holder .error-main {
  height: 500px;
  background: url("../asset/images/error404.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.card-header .accordion-control {
  font-weight: 600;
}

.main-home-start-box {
  background: #4059d1;
  min-height: 600px;
  padding: 100px 0px;
  color: #fff;
}

.main-home-start-box .start-title {
  text-align: center;
}

.main-home-start-box h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.main-home-start-box .start-card {
  min-height: 200px;
  background: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 1px #e0e0e0;
          box-shadow: 1px 1px 1px #e0e0e0;
  color: #4f4f4f;
  text-align: center;
  margin-bottom: 50px;
}

.main-home-start-box .start-card .start-icon {
  color: #4059d1;
  margin-bottom: 20px;
  font-weight: 100;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .main-home .main-home-top {
    min-height: 300px;
    padding-bottom: 50px;
  }
  .main-home .main-home-top .home-top-image {
    height: 300px;
    background-size: contain;
  }
  .main-home .main-home-top .home-top-text {
    padding: 40px 0px 0px;
    margin: 20px auto;
    width: 90%;
  }
  .main-home .main-home-top .home-top-text h1 {
    font-size: 20px;
  }
  .main-home-middle,
  .main-home-refer,
  .main-home-faq,
  .main-home-contact {
    height: 300px;
    background-size: contain;
  }
  .main-home-service {
    min-height: 1600px;
    padding: 50px 0px 10px;
  }
  .main-home-contact-box {
    padding-bottom: 50px;
  }
  .main-home-refer-box {
    padding-bottom: 50px;
  }
  .sub-footer {
    padding: 50px 0px;
  }
  .main-home-service .service-text-image-box {
    min-height: 250px;
    padding: 10px 0px;
  }
  .main-home-service .service-text-image-box .service-text {
    margin-top: 20px;
  }
  .main-home-about {
    padding: 100px 0px;
    min-height: 600px;
  }
  .contact-image {
    min-height: 300px;
    background-size: contain;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    background: transparent !important;
    border: unset;
  }
  .main-home-service .service-text-image-box {
    padding-top: 50px;
    text-align: center;
  }
  .main-home-service .service-text-image-box .service-image {
    margin: 0px auto;
  }
  .main-home-service .service-text-image-box .service-text {
    margin: 25px auto;
  }
  .main-home .main-home-top .home-top-image {
    height: 300px;
    background-size: contain;
  }
  .main-home-middle {
    height: 150px;
    background-size: contain;
  }
  .main-home .main-home-intro {
    padding: 50px 0px;
    width: 90%;
    margin: 0px auto;
  }
  .main-home-contact {
    height: 150px;
    background-size: contain;
  }
  .main-home-refer {
    height: 150px;
    background-size: contain;
  }
  .contact-image {
    background-attachment: fixed;
    background-size: contain;
    height: 300px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .main-home-faq {
    height: 200px;
    background-size: contain;
  }
  .main-home-faq-box,
  .main-home-contact-box,
  .main-home-refer-box,
  .main-home-start-box,
  .main-home-service,
  .main-home-about {
    padding-bottom: 50px;
  }
  .start-card,
  .refer-step {
    width: 90%;
    margin: 0px auto;
  }
  .main-home .main-home-top .home-top-text {
    padding: 20px 0px;
    margin: 50px auto;
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */