@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 100%;
    .table-list li {
      font-size: 16px;
    }
  }

  .pricing-table {
    width: 236px;
  }

  .table-list li {
    font-size: 1.3em;
  }

  .dash-card {
    margin-bottom: 20px;
  }

  .dashboard-content {
    padding: 10px;
  }

  table.mytable {
    width: 200% !important;
  }
  tr {
    width: 100px;
  }
  .settings-form-card {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px;
  }

  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .dashboard-content {
    padding: 10px 20px;
    margin-left: 0px;
  }
  .dash-card {
    margin-bottom: 20px;
  }
  .nav-logo {
    margin-left: 5px;
  }
  .navbar > .container-fluid {
    justify-content: flex-start;
  }
  table.mytable {
    width: 200%;
  }
  tr {
    width: 100px;
  }
  .navbar-toggle.collapsed.pull-left {
    margin-left: 40px;
    border: unset;
    background: transparent;
    display: block;
  }

  ul.dropdown-menu {
    margin-left: 0px;
  }
  .home-page .home-box {
    width: 350px;
  }
  .sidebar {
    width: 0px;
    .hide-nav {
      display: none;
    }
  }
  .sidebar .side-nav-list {
    width: 0px;
  }

  .hide-side {
    width: 200px;
    .side-nav-list {
      width: 200px;
    }
  }

  .settings .nav-item,
  .settings .nav-link {
    width: 100%;
  }

  .settings .dash-card {
    width: 100%;

    .input-group {
      flex-wrap: inherit;
    }
  }
  .currency-list {
    margin-bottom: 20px;
    .btn {
      font-size: 16px;
    }
  }
  .settings-form-signal {
    .btn {
      font-size: 14px;
      padding: 10px;
    }
  }
  .settings-info {
    overflow-wrap: anywhere;
  }

  .pay-table {
    width: 100%;
  }
  .crypto-card.card {
    margin-right: 20px;
  }
  .main--nav .navbar-toggler {
    margin-left: 100px;
  }

  .tiptool {
    top: -5%;
    left: 30%;
  }
}

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 300px;
  }
  body {
    overflow-x: hidden;
  }
}
