@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 768px;
  }

  .pricing-table {
    width: 236px;
  }

  .table-list li {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px;
  }

  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .dashboard-content {
    padding: 10px 20px;
    margin-left: 0px;
  }
  .dash-card {
    margin-bottom: 20px;
  }
  .nav-logo {
    margin-left: 5px;
  }
  .navbar > .container-fluid {
    justify-content: flex-start;
  }
  tr {
    width: 100px;
  }
  .navbar-toggle.collapsed.pull-left {
    margin-left: 40px;
  }

  ul.dropdown-menu {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 300px;
  }
}

/* Card Figures*/
.transactions-total.table-figure {
  margin-top: 15px;
}
