@import "both.scss";

/* Register */
.main-register {
  margin-top: 50px;

  .register-box {
    width: 600px;
    margin: auto;
  }
  .form-box {
    border: 1px solid $border-light;
    box-shadow: 1px 2px 3px rgba($color: #2c2c2c, $alpha: 0.6);
    padding: 50px;
    border-radius: 5px;
  }
}

/* Main Home */
.main-home {
  padding-bottom: 100px;
  .main-home-top,
  .main-home-middle {
    height: 600px;
    background: url("../asset/images/colleague.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-home-intro,
  .main-home-about {
    height: 600px;
    text-align: center;
    background: #fff;
    padding-top: 200px;
    .intro-icon {
      i {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        padding-top: 15px;
        background: rgba($color: #176dcf, $alpha: 0.2);
        color: rgba($color: #176dcf, $alpha: 0.6);
      }
    }
  }
  .main-home-middle {
    height: 600px;
    background: url("../asset/images/busy.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-home-contact {
    height: 600px;
    background: url("../asset/images/contactus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-home-contact-box {
    height: 600px;
    padding-top: 50px;
    background: #fefcf5;
  }
}
