/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

/* General Style */
section {
  min-height: 700px;
}

textarea {
  height: 120px;
}

button {
  background: rgba(2, 40, 84, 0.6);
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-floating.form-floating-group input {
  border-right: none;
}

span.input-group-text {
  background: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
}

.nav-logo {
  width: 30px;
}

/* Modal */
#myModal {
  background: rgba(2, 40, 84, 0.5);
}

.modal-content {
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
  border: #fcfcfc;
}

/* Register */
.main-register {
  margin-top: 50px;
}

.main-register .register-box {
  width: 600px;
  margin: auto;
}

.main-register .form-box {
  border: 1px solid #fcfcfc;
  -webkit-box-shadow: 1px 2px 3px rgba(44, 44, 44, 0.6);
          box-shadow: 1px 2px 3px rgba(44, 44, 44, 0.6);
  padding: 50px;
  border-radius: 5px;
}

/* Main Home */
.main-home {
  padding-bottom: 100px;
}

.main-home .main-home-top,
.main-home .main-home-middle {
  height: 600px;
  background: url("../asset/images/colleague.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home .main-home-intro,
.main-home .main-home-about {
  height: 600px;
  text-align: center;
  background: #fff;
  padding-top: 200px;
}

.main-home .main-home-intro .intro-icon i,
.main-home .main-home-about .intro-icon i {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  padding-top: 15px;
  background: rgba(23, 109, 207, 0.2);
  color: rgba(23, 109, 207, 0.6);
}

.main-home .main-home-middle {
  height: 600px;
  background: url("../asset/images/busy.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home .main-home-contact {
  height: 600px;
  background: url("../asset/images/contactus.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-home .main-home-contact-box {
  height: 600px;
  padding-top: 50px;
  background: #fefcf5;
}
/*# sourceMappingURL=main.css.map */