/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

/* General Style */
section {
  min-height: 700px;
}

textarea {
  height: 120px;
}

button {
  background: rgba(2, 40, 84, 0.6);
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-floating.form-floating-group input {
  border-right: none;
}

span.input-group-text {
  background: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
}

.nav-logo {
  width: 30px;
}

/* Modal */
#myModal {
  background: rgba(2, 40, 84, 0.5);
}

.modal-content {
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
  border: #fcfcfc;
}

.login-page {
  min-height: 700px;
  background: #023064;
  background: radial-gradient(circle, #023064 0%, #031f3f 35%, #022854 100%) no-repeat;
  padding-top: 50px;
}

.login-page .login-box {
  width: 500px;
  height: 500px;
  margin: auto;
}

.login-page .login-box img {
  width: 30px;
  margin: auto;
}

.login-page .login-box .form-box {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #303030;
          box-shadow: 1px 2px 3px #303030;
  padding: 20px;
  border-radius: 5px;
}

.login-page .login-box .form-box h1 {
  font-size: clamp(1.5vw, 15px, 1.5vh);
  text-transform: uppercase;
  font-weight: 400;
}

.login-page .login-box .login-helper {
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.login-page .login-box .login-helper a {
  text-decoration: none;
  color: #fff;
}

.login-page .login-box .login-helper a:hover {
  text-decoration: underline;
}

/* Handle DropDown */
.seen {
  display: block;
}

.unseen {
  display: none;
}

ul.dropdown-menu {
  margin-left: -130px;
}

ul.dropdown-menu li {
  text-transform: capitalize;
}

ul.dropdown-menu li a {
  text-decoration: none;
}

.dash-top-nav {
  z-index: 999;
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: #022854;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-side-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

.show-side {
  width: 250px;
}

.move-close-btn {
  color: #818181;
}

.move-close-btn:hover {
  color: green;
}

.toggle-btn {
  width: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=sub.css.map */