@import "default.scss";

.home-page {
  min-height: 700px;
  background: rgb(2, 48, 100);
  background: radial-gradient(
      circle,
      rgba(2, 48, 100, 1) 0%,
      rgba(3, 31, 63, 1) 35%,
      $bg-dark 100%
    )
    no-repeat;
  padding-top: 50px;

  .home-box {
    width: 500px;
    height: 500px;
    margin: auto;

    img {
      width: 30px;
      margin: auto;
    }

    .form-box {
      background: #fff;
      box-shadow: 1px 2px 3px rgb(48, 48, 48);
      padding: 20px;
      border-radius: 5px;

      h1 {
        font-size: clamp(2vw, 15px, 1.5vh);
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    .login-helper {
      text-align: center;
      font-weight: 600;
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .react-tel-input.phone-with-input input {
    height: 60px;
    width: 100%;
  }
}

/* Handle DropDown */
.seen {
  display: block;
}

.unseen {
  display: none;
}

ul.dropdown-menu {
  margin-left: -130px;

  li {
    text-transform: capitalize;

    a {
      text-decoration: none;
    }
  }
}

.dash-top-nav {
  z-index: 999;
}

.nav-item.dropdown {
  margin-right: 10px;
  .nav-settings {
    font-size: 25px;
    color: #818181;
    margin-top: 5px;
  }
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background: $bg-dark;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  /* The sidebar links */
  a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }

  .close-side-nav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .side-nav-list {
    margin-top: 25px;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

.hide-side {
  width: 0;
}

.toggle-btn .move-close-btn {
  color: #474747 !important;
  &:hover {
    color: $bg-dark;
  }
}

.toggle-btn {
  width: 50px;
}
.toggle-btn .btn {
  background: transparent !important;
}

.sidebar-icon {
  margin-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Dashboard */
.dashboard-content {
  min-height: 700px;
  margin-left: 200px;
  padding: 25px;
  margin-top: 80px;
  padding-bottom: 80px;
  .card {
    border: 1px solid $border-light;
    box-shadow: 1px 2px 3px $shadow;
    background: #fff none repeat scroll 0% 0%;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 0px;
    }
  }
  .referrals-box,
  .sub-box,
  .bonus-box {
    width: 100%;
    height: 100px;
    padding: 20px 10px;
  }

  .referral-id-box {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
  }

  .dashboard-intro {
    margin-bottom: 20px;
    height: 150px;
    padding: 20px 40px;
    background: rgba($color: #f3bb4a, $alpha: 0.2);

    h3 {
      color: rgba($color: #f7a707, $alpha: 1);
      font-size: 25px;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }

    .days-left-section {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
    }
  }
  .referral-details {
    p {
      text-align: center;
      margin-bottom: 5px;
    }
    .referral-id-box {
      display: grid;
      grid-template-columns: 85% 10%;
      grid-column-gap: 5%;

      .referrral-id {
        justify-self: center;
        align-self: center;
      }

      .copy-referrral-id {
        align-self: start;
        justify-self: end;
      }
    }
  }

  .box-icon {
    i {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      padding-top: 20%;
      padding-left: 20%;
      background: rgba($color: $def-blue, $alpha: 0.2);
      color: rgba($color: $def-blue, $alpha: 0.6);
      font-size: 150%;
    }
  }

  .premium-user {
    font-size: 15px;
    color: rgba($color: $def-blue, $alpha: 0.8);
    margin-left: 5px;
  }
  input.form-control select {
    height: 40px;
  }
}

.dash-full {
  margin-left: 50px;
}

/* Signal */
.signal-page {
  min-height: 1000px;
  margin-bottom: 50px;
}
.signal-detail {
  display: grid;
  grid-row-gap: 1%;
  min-height: 400px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 5px;
  color: rgb(31, 30, 30);

  .currency-info {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-around;
  }
  .signal-about,
  .signal-from,
  .signal-to,
  .signal-sold-at,
  .signal-bought-at,
  .signal-pip,
  .signal-provider {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px dashed rgb(114, 114, 114);
    margin: 0px 10px;
  }

  .signal-pip {
    border-bottom: none;
  }
  .signal-status {
    border-bottom: 1px dashed rgb(114, 114, 114);
    margin: 0px 10px;
    .signal-stat {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .signal-align-right {
    justify-self: flex-end;
  }
  .take-stop {
    margin-right: 5px;
  }

  .signal-title {
    font-weight: 600;
  }

  .currency-image .flag {
    margin-right: 5px;
    margin-top: 5px;
  }
  .signal-currency {
    background: rgba($color: #8dbff8, $alpha: 0.2);
    padding: 10px 5px;
  }
  .currency-info {
    align-items: center;
  }

  .currency-return.signal-align-right {
    font-size: 22px;
    margin-right: 5px;
  }
}

/* Loader */

.progress {
  height: 5px;
  inset: 0;
  z-index: 9999;
}

.loader {
  text-align: center;
  margin-top: 50px;
}

/* Page cards */
.holder-card {
  padding: 20px 10px;
}

/* Transactions Badges */
.table-figure .badge {
  margin-left: 5px;
}

/* Pay Page */
.pay-plan {
  .pay-plan-box {
    height: 100px;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    padding: 10px;

    h2 {
      font-weight: 900;
    }
    h4 {
      font-weight: 600;
    }
  }

  .pay-method button {
    height: 100px;
    margin-right: 10px;
  }
  .customer-plan {
    padding: 5px 10px;

    h2 {
      font-weight: 600;
    }
  }
  h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: clamp(1.5vw, 14px, 2.5vh);
  }

  input#pay-months {
    width: 40px;
    max-width: 40px;
  }

  .pay-plan-selected {
    background: rgba(184, 184, 184, 0.5);
  }

  label {
    font-weight: 600;
  }
}

/* Admin */
.dashboard-admin-intro.card {
  margin-bottom: 20px;
}
.action-buttons .btn {
  margin-right: 10px;
  height: 30px;
  color: #fff;
}

/* Add Signal Modal*/

/* Toast */
.toast {
  position: fixed;
  z-index: 9999;
  margin-bottom: 60px;
  background: $bg-dark;
}
