@import "default.scss";

.home-page {
  min-height: 700px;
  background: rgb(2, 48, 100);
  background: radial-gradient(
      circle,
      rgba(2, 48, 100, 1) 0%,
      rgba(3, 31, 63, 1) 35%,
      $bg-dark 100%
    )
    no-repeat;
  padding-top: 50px;

  .home-box {
    width: 500px;
    height: 500px;
    margin: auto;

    img {
      width: 50%;
      margin: 0px auto 20px;
    }

    .form-box {
      background: #fff;
      box-shadow: 1px 2px 3px rgb(48, 48, 48);
      padding: 20px;
      border-radius: 5px;

      h1 {
        font-size: clamp(1.5vw, 15px, 1.5vh);
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    .login-helper {
      text-align: center;
      font-weight: 600;
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .react-tel-input.phone-with-input input {
    height: 60px;
    width: 100%;
  }
}

/* Handle DropDown */
.seen {
  display: block;
}

.unseen {
  display: none;
}

ul.dropdown-menu {
  margin-left: -130px;

  li {
    text-transform: capitalize;

    a {
      text-decoration: none;
    }
  }
}

.dash-top-nav {
  z-index: 999;
}
.nav-user-item {
  padding-top: 10px;
}
.nav-item.dropdown {
  margin-right: 5px;
}
.nav-item {
  margin: 0px 5px;
}
.nav-forum-icon svg,
.nav-settings-icon svg {
  font-size: 25px;
  color: rgba(102, 102, 102, 0.6);
}

.nav-user-name {
  text-transform: capitalize;
  color: rgba(102, 102, 102, 0.6);
}

.nav-user-image {
  width: 30px;
  margin-right: 10px;
  margin-top: 5px;
}
span.nav-sub-icon {
  svg {
    color: #3794fd;
    margin-left: 5px;
  }
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background: $bg-dark;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  /* The sidebar links */
  a {
    padding: 5px 8px 5px 25px;
    text-decoration: none;
    font-size: 15px;
    color: #fcfcfc;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #818181;
    }
  }

  .close-side-nav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .side-nav-list {
    margin-top: 25px;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

.hide-side {
  width: 0;
}

.toggle-btn .move-close-btn {
  color: #474747 !important;
  &:hover {
    color: $bg-dark;
  }
}

.toggle-btn {
  width: 50px;
}
.toggle-btn .btn {
  background: transparent !important;
}

.sidebar-icon {
  margin-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Dashboard */
.dashboard-content {
  min-height: 700px;
  margin-left: 200px;
  padding: 25px;
  margin-top: 80px;
  padding-bottom: 80px;
  .card {
    border: 1px solid $border-light;
    box-shadow: 1px 2px 3px $shadow;
    background: #fff none repeat scroll 0% 0%;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 0px;
    }
  }

  .dashboard-item {
    margin-bottom: 100px;
  }

  .dash-card {
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(190, 190, 190);
  }

  .dash-info-card {
    height: 120px;
    padding: 10px 20px;
  }

  .ann-card {
    height: 300px;
    padding: 20px;

    .ann-title {
      text-align: center;
      text-transform: uppercase;
    }
    .ann-content {
      min-height: 200px;
    }
    .ann-link {
      text-align: right;
    }
  }

  .dash-intro .dash-card {
    height: 240px;
    padding: 20px;
  }

  .dash-bonus {
    background: rgb(254, 196, 176);
    background: linear-gradient(
      142deg,
      rgba(254, 196, 176, 1) 0%,
      rgba(254, 106, 164, 1) 40%,
      rgba(242, 70, 138, 1) 68%
    );
    color: #fff;
  }

  .dash-qr {
    .qr-code {
      text-align: center;
    }
  }

  .dash-basic {
    background: rgb(36, 212, 254);
    background: linear-gradient(
      142deg,
      rgba(36, 212, 254, 1) 0%,
      rgb(22, 224, 235) 38%,
      rgb(3, 162, 202) 73%
    );
    color: #fff;
    .share-ref-social svg {
      margin-right: 10px;
      cursor: pointer;
      font-size: 25px;
    }
  }

  .dash-user-name {
    text-transform: capitalize;
  }

  .premium-active {
    background: rgb(46, 186, 97);
    background: linear-gradient(
        125deg,
        rgba(46, 186, 97, 1) 34%,
        rgba(42, 198, 113, 1) 63%,
        rgba(12, 147, 68, 1) 95%
      )
      no-repeat;
    color: #fff;
  }

  .premium-new {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff) no-repeat;
    color: #fff;
  }

  .premium-inactive {
    background: rgb(244, 86, 145);
    background: linear-gradient(
        125deg,
        rgba(244, 86, 145, 1) 34%,
        rgba(214, 40, 105, 1) 63%,
        rgba(221, 5, 86, 1) 95%
      )
      no-repeat;
    color: #fff;
  }

  .dash-balance {
    background: rgb(255, 176, 76);
    background: linear-gradient(
        125deg,
        rgba(255, 176, 76, 1) 34%,
        rgba(241, 187, 106, 1) 63%,
        rgba(199, 140, 51, 1) 95%
      )
      no-repeat;
    color: #fff;
  }
  .dash-transaction {
    background: rgb(146, 88, 249);
    background: linear-gradient(
        125deg,
        rgba(146, 88, 249, 1) 34%,
        rgba(121, 70, 222, 1) 63%,
        rgba(83, 20, 194, 1) 95%
      )
      no-repeat;
    color: #fff;
  }

  .dash-sub {
    background: rgb(244, 79, 181);
    background: linear-gradient(
        125deg,
        rgba(244, 79, 181, 1) 34%,
        rgba(205, 54, 151, 1) 63%,
        rgba(177, 8, 112, 1) 95%
      )
      no-repeat;
    color: #fff;
  }
  .dash-contents {
    margin-bottom: 50px;
  }
  .admin-dash {
    min-height: 140px;
    padding: 20px;
  }
  .admin-dash.users {
    background: #2193b0;
    background: -webkit-linear-gradient(125deg, #6dd5ed, #2193b0) no-repeat;
    background: linear-gradient(125deg, #6dd5ed, #2193b0) no-repeat;
    color: #fff;
  }
  .admin-dash.signals {
    background: #56ccf2;
    background: -webkit-linear-gradient(125deg, #56ccf2, #2f80ed) no-repeat;
    background: linear-gradient(125deg, #56ccf2, #2f80ed) no-repeat;
    color: #fff;
  }
  .admin-dash.providers {
    background: #800080;
    background: -webkit-linear-gradient(125deg, #ffc0cb, #800080) no-repeat;
    background: linear-gradient(125deg, #ffc0cb, #800080) no-repeat;
    color: #fff;
  }
  .admin-dash.currencies {
    background: #11998e;
    background: -webkit-linear-gradient(125deg, #38ef7d, #11998e) no-repeat;
    background: linear-gradient(125deg, #38ef7d, #11998e) no-repeat;
    color: #fff;
  }
  .admin-dash.bonus {
    background: #fbd3e9;
    background: -webkit-linear-gradient(125deg, #fbd3e9, #de6262) no-repeat;
    background: linear-gradient(125deg, #fbd3e9, #de6262) no-repeat;
    color: #fff;
  }

  .admin-dash.payouts {
    background: #b993d6;
    background: -webkit-linear-gradient(125deg, #b993d6, #8ca6db) no-repeat;
    background: linear-gradient(125deg, #b993d6, #8ca6db) no-repeat;
    color: #fff;
  }
  .admin-dash.transactions {
    background: #dad299;
    background: -webkit-linear-gradient(125deg, #dad299, #b0dab9) no-repeat;
    background: linear-gradient(125deg, #dad299, #b0dab9) no-repeat;
    color: #fff;
  }
  .admin-dash.subscriptions {
    background: #7474bf;
    background: -webkit-linear-gradient(125deg, #7474bf, #348ac7) no-repeat;
    background: linear-gradient(125deg, #7474bf, #348ac7) no-repeat;
    color: #fff;
  }
  .admin-dash.referrals {
    background: #757f9a;
    background: -webkit-linear-gradient(125deg, #d7dde8, #757f9a) no-repeat;
    background: linear-gradient(125deg, #d7dde8, #757f9a) no-repeat;
    color: #fff;
  }

  .pay-now-btn .btn {
    border-radius: 25px;
    float: right;
  }

  .box-icon svg {
    font-size: 30px;
  }

  .premium-user {
    font-size: 15px;
    color: rgba($color: $def-blue, $alpha: 0.8);
    margin-left: 5px;
  }
  input.form-control select {
    height: 40px;
  }
}

.dash-full {
  margin-left: 0px;
}

/* Signal */
.signal-page {
  min-height: 1000px;
  margin-bottom: 50px;
}
.signal-detail {
  display: grid;
  grid-row-gap: 1%;
  min-height: 400px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 5px;
  color: rgb(31, 30, 30);

  .currency-info {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-around;
  }
  .signal-about,
  .signal-from,
  .signal-to,
  .signal-sold-at,
  .signal-bought-at,
  .signal-pip,
  .signal-provider {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px dashed rgb(114, 114, 114);
    margin: 0px 10px;
  }

  .signal-pip {
    border-bottom: none;
  }
  .signal-status {
    border-bottom: 1px dashed rgb(114, 114, 114);
    margin: 0px 10px;
    .signal-stat {
      text-align: center;
      text-transform: capitalize;
    }
  }
  .signal-opt {
    text-transform: capitalize;
  }
  .signal-align-right {
    justify-self: flex-end;
  }
  .take-stop {
    margin-right: 5px;
  }

  .signal-title {
    font-weight: 600;
  }

  .currency-image .flag {
    margin-right: 5px;
    margin-top: 5px;
  }
  .signal-currency {
    background: rgba($color: #8dbff8, $alpha: 0.2);
    padding: 10px 5px;
  }
  .currency-info {
    align-items: center;
  }

  .currency-return.signal-align-right {
    font-size: 22px;
    margin-right: 5px;
  }
  .signal-value {
    text-transform: capitalize;
  }
}

.currency-flag {
  margin-right: 5px;
  svg {
    font-size: 30px;
  }
}
.currency-name {
  text-transform: uppercase;
}

/* Loader */

.progress {
  height: 2.5px;
  inset: 0;
  z-index: 9999;
}

.loader {
  text-align: center;
  margin-top: 50px;
}

/* Page cards */
.holder-card {
  padding: 20px 10px;
}

/* Transactions Badges */
.table-figure .badge {
  margin-left: 5px;
}

/* Pay Page */
.pay-plan {
  .pay-plan-box {
    height: 100px;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    padding: 10px;

    h2 {
      font-weight: 900;
    }
    h4 {
      font-weight: 600;
    }
  }

  .pay-method button {
    height: 100px;
    margin-right: 10px;
  }
  .customer-plan {
    padding: 5px 10px;

    h2 {
      font-weight: 600;
    }
  }
  h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: clamp(1.5vw, 14px, 2.5vh);
  }

  input#pay-months {
    width: 40px;
    max-width: 40px;
  }

  .pay-plan-selected {
    background: rgba(184, 184, 184, 0.5);
  }

  label {
    font-weight: 600;
  }
}

/* Admin */
.dashboard-admin-intro.card {
  margin-bottom: 20px;
}
.action-buttons .btn {
  margin-right: 10px;
  height: 30px;
  color: #fff;
}

/* Add Signal Modal*/

/* Toast */
.toast {
  position: fixed;
  z-index: 9999;
  bottom: 60px;
  left: 220px;
  .toast-header {
    color: #fff;
    background: inherit;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  }
  svg {
    font-size: 20px;
  }
}
.toast-error {
  background: $danger;
}
.toast-success {
  background: $success;
}

/* Tooltip */
.tiptool {
  position: relative;
  display: inline-block;
  left: 40%;

  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #555 transparent;
    }
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.showTip .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*Settings*/
/* Tab Panel */
.tab-content {
  min-height: 500px;
  padding: 20px 0px;
}
.settings-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px dashed rgba($color: #8dbff8, $alpha: 0.5);
}

.first-account.card {
  padding: 20px;
  h3 {
    font-size: clamp(1.5vw, 15px, 1.5vh);
    font-weight: 400;
    text-align: center;
  }
  button {
    text-align: right;
  }
}
.settings-form-card {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}
.settings-form-signal {
  padding: 20px;
}

.settings-form-notify {
  height: 200px;
}
.settings-form-password {
  height: 400px;
}

.settings-info {
  text-transform: uppercase;
}

.add-new-account {
  text-align: right;
}

.account-details {
  padding: 10px;

  h4 {
    text-align: center;
  }
}

ul.list-group.list-group-horizontal {
  max-width: 400px;
  overflow-y: auto;
}

.remove-selected-item {
  color: tomato;
  cursor: pointer;
  margin-left: 10px;
}

.settings-form-profile input {
  text-transform: capitalize;
}
.account-form select {
  text-transform: capitalize;
}

/* Discussions */
.discussion-card {
  border-radius: 15px;
  min-height: 150px;
  padding: 20px;
}

/* Admin Views */
.view-card {
  padding: 20px;

  .card-line-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px dashed $shadow;
    padding: 15px 0px 5px;
    text-transform: capitalize;
  }
  .card-value {
    justify-self: flex-end;
  }
  svg {
    margin-right: 5px;
  }
  .lower {
    text-transform: lowercase;
  }
  .admin-change-email-btn button {
    width: 40%;
  }
}
/*Spinner*/

.icon-spin {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Scroller */
.scroll-up {
  bottom: 60px;
  position: fixed;
  z-index: 9999;
  font-size: 40px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: rgba($color: #8dbff8, $alpha: 0.8);
}

.showscroller {
  display: block;
  animation: scroller 1s;
}

@keyframes scroller {
  0% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 40px;
  }
}
