/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

/* General Style */
section {
  min-height: 700px;
}

textarea {
  height: 120px;
}

table {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  table-layout: fixed;
}

table th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

table td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #252525;
  border-bottom: solid 1px rgba(44, 44, 44, 0.1);
}

table tbody > tr:hover {
  background: rgba(212, 212, 212, 0.2);
}

table .td-lower {
  text-transform: lowercase;
}

table .td-shorter {
  font-size: 14px;
}

table .status-info {
  font-size: 30px;
}

table .active-status span {
  color: #04c734;
}

table .inactive-status span {
  color: #dd1010;
}

table .new-status {
  color: #06c2f7;
}

a.default-anchor {
  text-decoration: none;
}

a.default-anchor:hover {
  text-decoration: underline;
}

.btn.default-btn {
  background: #06c2f7 !important;
  color: #fff !important;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
}

.btn.default-btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-floating.form-floating-group input {
  border-right: none;
}

.form-floating.form-floating-group input:focus {
  border-right: none !important;
}

span.input-group-text {
  background: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
}

.nav-logo {
  width: 30px;
}

/* Modal */
.modal {
  background: rgba(2, 40, 84, 0.7);
}

.modal-title {
  text-transform: capitalize;
}

.modal-content {
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
  border: #fcfcfc;
}

.modal :is(input, select) {
  height: 40px !important;
}

.modal .form-floating > label {
  padding-top: 10px;
}

.home-page {
  min-height: 700px;
  background: #023064;
  background: radial-gradient(circle, #023064 0%, #031f3f 35%, #022854 100%) no-repeat;
  padding-top: 50px;
}

.home-page .home-box {
  width: 500px;
  height: 500px;
  margin: auto;
}

.home-page .home-box img {
  width: 30px;
  margin: auto;
}

.home-page .home-box .form-box {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #303030;
          box-shadow: 1px 2px 3px #303030;
  padding: 20px;
  border-radius: 5px;
}

.home-page .home-box .form-box h1 {
  font-size: clamp(2vw, 15px, 1.5vh);
  text-transform: uppercase;
  font-weight: 400;
}

.home-page .home-box .login-helper {
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.home-page .home-box .login-helper a {
  text-decoration: none;
  color: #fff;
}

.home-page .home-box .login-helper a:hover {
  text-decoration: underline;
}

.home-page .react-tel-input.phone-with-input input {
  height: 60px;
  width: 100%;
}

/* Handle DropDown */
.seen {
  display: block;
}

.unseen {
  display: none;
}

ul.dropdown-menu {
  margin-left: -130px;
}

ul.dropdown-menu li {
  text-transform: capitalize;
}

ul.dropdown-menu li a {
  text-decoration: none;
}

.dash-top-nav {
  z-index: 999;
}

.nav-item.dropdown {
  margin-right: 10px;
}

.nav-item.dropdown .nav-settings {
  font-size: 25px;
  color: #818181;
  margin-top: 5px;
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 200px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: #022854;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
}

.sidebar a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-side-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .side-nav-list {
  margin-top: 25px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

.hide-side {
  width: 0;
}

.toggle-btn .move-close-btn {
  color: #474747 !important;
}

.toggle-btn .move-close-btn:hover {
  color: #022854;
}

.toggle-btn {
  width: 50px;
}

.toggle-btn .btn {
  background: transparent !important;
}

.sidebar-icon {
  margin-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Dashboard */
.dashboard-content {
  min-height: 700px;
  margin-left: 200px;
  padding: 25px;
  margin-top: 80px;
  padding-bottom: 80px;
}

.dashboard-content .card {
  border: 1px solid #fcfcfc;
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
  background: #fff none repeat scroll 0% 0%;
  margin-bottom: 50px;
}

.dashboard-content .card h2 {
  margin-bottom: 0px;
}

.dashboard-content .referrals-box,
.dashboard-content .sub-box,
.dashboard-content .bonus-box {
  width: 100%;
  height: 100px;
  padding: 20px 10px;
}

.dashboard-content .referral-id-box {
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.dashboard-content .dashboard-intro {
  margin-bottom: 20px;
  height: 150px;
  padding: 20px 40px;
  background: rgba(243, 187, 74, 0.2);
}

.dashboard-content .dashboard-intro h3 {
  color: #f7a707;
  font-size: 25px;
}

.dashboard-content .dashboard-intro p {
  text-align: justify;
  text-justify: inter-word;
}

.dashboard-content .dashboard-intro .days-left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.dashboard-content .referral-details p {
  text-align: center;
  margin-bottom: 5px;
}

.dashboard-content .referral-details .referral-id-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 10%;
      grid-template-columns: 85% 10%;
  grid-column-gap: 5%;
}

.dashboard-content .referral-details .referral-id-box .referrral-id {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dashboard-content .referral-details .referral-id-box .copy-referrral-id {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

.dashboard-content .box-icon i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 20%;
  padding-left: 20%;
  background: rgba(23, 109, 207, 0.2);
  color: rgba(23, 109, 207, 0.6);
  font-size: 150%;
}

.dashboard-content .premium-user {
  font-size: 15px;
  color: rgba(23, 109, 207, 0.8);
  margin-left: 5px;
}

.dashboard-content input.form-control select {
  height: 40px;
}

.dash-full {
  margin-left: 50px;
}

/* Signal */
.signal-page {
  min-height: 1000px;
  margin-bottom: 50px;
}

.signal-detail {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1%;
  min-height: 400px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #1f1e1e;
}

.signal-detail .currency-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.signal-detail .signal-about,
.signal-detail .signal-from,
.signal-detail .signal-to,
.signal-detail .signal-sold-at,
.signal-detail .signal-bought-at,
.signal-detail .signal-pip,
.signal-detail .signal-provider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border-bottom: 1px dashed #727272;
  margin: 0px 10px;
}

.signal-detail .signal-pip {
  border-bottom: none;
}

.signal-detail .signal-status {
  border-bottom: 1px dashed #727272;
  margin: 0px 10px;
}

.signal-detail .signal-status .signal-stat {
  text-align: center;
  text-transform: uppercase;
}

.signal-detail .signal-align-right {
  justify-self: flex-end;
}

.signal-detail .take-stop {
  margin-right: 5px;
}

.signal-detail .signal-title {
  font-weight: 600;
}

.signal-detail .currency-image .flag {
  margin-right: 5px;
  margin-top: 5px;
}

.signal-detail .signal-currency {
  background: rgba(141, 191, 248, 0.2);
  padding: 10px 5px;
}

.signal-detail .currency-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal-detail .currency-return.signal-align-right {
  font-size: 22px;
  margin-right: 5px;
}

/* Loader */
.progress {
  height: 5px;
  inset: 0;
  z-index: 9999;
}

.loader {
  text-align: center;
  margin-top: 50px;
}

/* Page cards */
.holder-card {
  padding: 20px 10px;
}

/* Transactions Badges */
.table-figure .badge {
  margin-left: 5px;
}

/* Pay Page */
.pay-plan .pay-plan-box {
  height: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
}

.pay-plan .pay-plan-box h2 {
  font-weight: 900;
}

.pay-plan .pay-plan-box h4 {
  font-weight: 600;
}

.pay-plan .pay-method button {
  height: 100px;
  margin-right: 10px;
}

.pay-plan .customer-plan {
  padding: 5px 10px;
}

.pay-plan .customer-plan h2 {
  font-weight: 600;
}

.pay-plan h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: clamp(1.5vw, 14px, 2.5vh);
}

.pay-plan input#pay-months {
  width: 40px;
  max-width: 40px;
}

.pay-plan .pay-plan-selected {
  background: rgba(184, 184, 184, 0.5);
}

.pay-plan label {
  font-weight: 600;
}

/* Admin */
.dashboard-admin-intro.card {
  margin-bottom: 20px;
}

.action-buttons .btn {
  margin-right: 10px;
  height: 30px;
  color: #fff;
}

/* Add Signal Modal*/
/* Toast */
.toast {
  position: fixed;
  z-index: 9999;
  margin-bottom: 60px;
  background: #022854;
}

/* Tooltip */
.tiptool {
  position: relative;
  display: inline-block;
  top: 150%;
}

.tiptool .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tiptool .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.showTip .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Settings*/
/* Tab Panel */
.tab-content {
  min-height: 500px;
  padding: 20px 0px;
}

.settings-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px dashed rgba(141, 191, 248, 0.5);
}

.first-account.card,
.second-account.card {
  padding: 20px;
}

.first-account.card h3,
.second-account.card h3 {
  font-size: clamp(1.5vw, 15px, 1.5vh);
  font-weight: 400;
  text-align: center;
}

.first-account.card button,
.second-account.card button {
  text-align: right;
}
/*# sourceMappingURL=sub.css.map */