/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #fff;
  font-weight: 600;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

/* General Style */
section {
  min-height: 700px;
}

textarea {
  height: 120px;
}

table {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  table-layout: fixed;
}

table th {
  padding: 10px 5px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #252525;
  border-bottom: solid 1px rgba(44, 44, 44, 0.1);
}

table tbody > tr:hover {
  background: rgba(224, 224, 224, 0.2);
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
}

table .btn {
  margin-bottom: 5px;
}

table .td-lower {
  text-transform: lowercase;
}

table .td-shorter {
  font-size: 14px;
}

a.default-anchor {
  text-decoration: none;
}

a.default-anchor:hover {
  text-decoration: underline;
}

.default-btn,
.reset-btn {
  color: #fff !important;
  font-weight: 400;
  border: none;
  text-transform: capitalize;
}

.default-btn:hover,
.reset-btn:hover {
  color: rgba(102, 102, 102, 0.6);
}

.default-btn:focus,
.reset-btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.default-btn {
  background: #06c2f7 !important;
}

.reset-btn {
  background: #2eba61 !important;
}

input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-floating.form-floating-group input {
  border-right: none;
}

.form-floating.form-floating-group input:focus {
  border-right: none !important;
}

span.input-group-text {
  background: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
}

nav.navbar {
  -webkit-box-shadow: 2px 2px 1px #cecece;
          box-shadow: 2px 2px 1px #cecece;
}

.nav-logo {
  width: 200px;
  margin-left: 50px;
}

/* Modal */
.modal {
  background: rgba(31, 31, 31, 0.7);
}

.modal-title {
  text-transform: capitalize;
}

.modal-content {
  border: #fcfcfc;
}

.modal :is(input, select) {
  height: 40px !important;
}

.modal .form-floating > label {
  padding-top: 10px;
}

svg {
  display: inline-block;
}

.download-btn,
.add-btn,
.pay-with {
  color: #fff;
  font-weight: 400;
  border-radius: 0px;
  -webkit-box-shadow: 1px 2px 2px #cecece;
          box-shadow: 1px 2px 2px #cecece;
}

.download-btn:hover,
.add-btn:hover,
.pay-with:hover {
  color: #e4e4e4;
}

.download-btn {
  background: #1d6f42;
}

.add-btn {
  background: #176dcf;
}

.pay-with {
  background: #48acf0;
}

.delete-btn {
  background: rgba(220, 36, 48, 0.3);
  border: 1px solid rgba(220, 36, 48, 0.5);
  color: #dc2430;
}

.view-btn {
  background: rgba(23, 109, 207, 0.3);
  border: 1px solid rgba(23, 109, 207, 0.5);
  color: #176dcf;
}

.move-btn {
  background: rgba(46, 186, 97, 0.3);
  border: 1px solid rgba(46, 186, 97, 0.5);
  color: #2eba61;
}

.close-btn {
  background: rgba(49, 66, 151, 0.3);
  border: 1px solid rgba(49, 66, 151, 0.5);
  color: #314297;
}

.accept-btn {
  background: #2eba61;
  color: #fff;
  float: right;
}

.reject-btn {
  background: #dc2430;
  color: #fff;
}

.footer-nav {
  height: 50px;
  padding-top: 20px;
}

.home-page {
  min-height: 700px;
  background: #000428;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92)) no-repeat;
  background: linear-gradient(to left, #000428, #004e92) no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-page .home-box {
  width: 500px;
  min-height: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.home-page .home-box img {
  width: 50%;
  margin: 0px auto 20px;
}

.home-page .home-box .form-box {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #303030;
          box-shadow: 1px 2px 3px #303030;
  padding: 20px;
  border-radius: 5px;
}

.home-page .home-box .form-box h1 {
  font-size: clamp(1.5vw, 15px, 1.5vh);
  text-transform: uppercase;
  font-weight: 400;
}

.home-page .home-box .login-helper {
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.home-page .home-box .login-helper a {
  text-decoration: none;
  color: #fff;
}

.home-page .home-box .login-helper a:hover {
  text-decoration: underline;
}

.home-page .react-tel-input.phone-with-input input {
  height: 60px;
  width: 100%;
}

/* Handle DropDown */
.seen {
  display: block;
}

.unseen {
  display: none;
}

ul.dropdown-menu {
  margin-left: -130px;
}

ul.dropdown-menu li {
  text-transform: capitalize;
}

ul.dropdown-menu li a {
  text-decoration: none;
}

.dash-top-nav {
  z-index: 999;
}

.nav-user-item {
  padding-top: 10px;
}

img {
  font-size: 10px;
}

.nav-item.dropdown {
  margin-right: 5px;
}

.nav-item {
  margin: 0px 5px;
}

.nav-forum-icon svg,
.nav-settings-icon svg {
  font-size: 25px;
  color: rgba(102, 102, 102, 0.6);
}

.nav-user-name {
  text-transform: capitalize;
  color: rgba(102, 102, 102, 0.6);
}

.nav-user-image {
  width: 30px;
  margin-right: 10px;
  margin-top: 5px;
}

span.nav-sub-icon svg {
  color: #3794fd;
  margin-left: 5px;
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 200px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: #4059d1;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  -webkit-box-shadow: 1px 2px 1px #cecece;
          box-shadow: 1px 2px 1px #cecece;
  /* The sidebar links */
}

.sidebar a {
  padding: 5px 8px 5px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #fcfcfc;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #818181;
}

.sidebar .close-side-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .side-nav-list {
  margin-top: 25px;
  width: 200px;
}

.sidebar .sidebar .side-nav-list {
  width: 200px;
}

.sidebar .hide-side .side-nav-list {
  width: 0;
}

.navbar-toggle.collapsed.pull-left {
  display: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

.hide-side {
  width: 0;
}

.toggle-btn .move-close-btn {
  color: #474747 !important;
}

.toggle-btn .move-close-btn:hover {
  color: #314297;
}

.toggle-btn {
  width: 50px;
}

.toggle-btn .btn {
  background: transparent !important;
}

.sidebar-icon {
  margin-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Dashboard */
.dashboard-body {
  background: rgba(179, 214, 255, 0.3);
  min-height: 800px;
  padding-top: 80px;
}

.dashboard-content {
  min-height: 700px;
  margin-left: 200px;
  padding: 25px 50px;
}

.dashboard-content .card {
  border: 1px solid #fcfcfc;
  -webkit-box-shadow: 1px 2px 3px #cecece;
          box-shadow: 1px 2px 3px #cecece;
  background: #fff none repeat scroll 0% 0%;
  margin-bottom: 50px;
}

.dashboard-content .card h2 {
  margin-bottom: 0px;
}

.dashboard-content .page-dash-title {
  margin-left: 10px;
}

.dashboard-content .dashboard-item {
  margin-bottom: 100px;
}

.dashboard-content .dash-card {
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px #bebebe;
          box-shadow: 1px 1px 5px #bebebe;
}

.dashboard-content .dash-info-card {
  height: 120px;
  padding: 10px 20px;
}

.dashboard-content .ann-card {
  min-height: 300px;
  background: #fff;
}

.dashboard-content .ann-card .ann-title {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background: rgba(23, 109, 207, 0.8);
  color: #fff;
  font-weight: 500;
  padding: 15px 20px;
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  grid-column-gap: 1em;
}

.dashboard-content .ann-card .ann-title h4 {
  font-size: 16px;
  width: 100%;
}

.dashboard-content .ann-card .ann-title svg {
  font-size: 30px;
}

.dashboard-content .ann-card .ann-content {
  min-height: 200px;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
  text-transform: capitalize;
}

.dashboard-content .ann-card .ann-link {
  padding: 0px 20px 10px 0px;
  text-align: right;
}

.dashboard-content .ann-card .ann-link .btn {
  border-radius: 20px;
}

.dashboard-content .dash-intro .dash-card {
  height: 240px;
  padding: 20px;
}

.dashboard-content .dash-bonus {
  background: #fec4b0;
  background: linear-gradient(142deg, #fec4b0 0%, #fe6aa4 40%, #f2468a 68%);
  color: #fff;
}

.dashboard-content .dash-qr .qr-code {
  text-align: center;
}

.dashboard-content .dash-earning {
  font-weight: 600;
}

.dashboard-content .dash-basic {
  background: #24d4fe;
  background: linear-gradient(142deg, #24d4fe 0%, #16e0eb 38%, #03a2ca 73%);
  color: #fff;
}

.dashboard-content .dash-basic .share-ref-social svg {
  margin-right: 10px;
  cursor: pointer;
  font-size: 25px;
}

.dashboard-content .dash-user-name {
  text-transform: capitalize;
}

.dashboard-content .dash-welcome {
  font-weight: 300;
}

.dashboard-content .premium-active {
  background: #2eba61;
  background: linear-gradient(125deg, #2eba61 34%, #2ac671 63%, #0c9344 95%) no-repeat;
  color: #fff;
}

.dashboard-content .premium-new {
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00c6ff)) no-repeat;
  background: linear-gradient(to right, #0072ff, #00c6ff) no-repeat;
  color: #fff;
}

.dashboard-content .premium-inactive {
  background: #f45691;
  background: linear-gradient(125deg, #f45691 34%, #d62869 63%, #dd0556 95%) no-repeat;
  color: #fff;
}

.dashboard-content .dash-balance {
  background: #ffb04c;
  background: linear-gradient(125deg, #ffb04c 34%, #f1bb6a 63%, #c78c33 95%) no-repeat;
  color: #fff;
}

.dashboard-content .dash-transaction {
  background: #9258f9;
  background: linear-gradient(125deg, #9258f9 34%, #7946de 63%, #5314c2 95%) no-repeat;
  color: #fff;
}

.dashboard-content .dash-sub {
  background: #f44fb5;
  background: linear-gradient(125deg, #f44fb5 34%, #cd3697 63%, #b10870 95%) no-repeat;
  color: #fff;
}

.dashboard-content .dash-contents {
  margin-bottom: 50px;
}

.dashboard-content .admin-dash {
  min-height: 180px;
  padding: 20px;
}

.dashboard-content .admin-dash.users {
  background: #2193b0;
  background: linear-gradient(125deg, #6dd5ed, #2193b0) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.signals {
  background: #56ccf2;
  background: linear-gradient(125deg, #56ccf2, #2f80ed) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.providers {
  background: #800080;
  background: linear-gradient(125deg, #ffc0cb, #800080) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.currencies {
  background: #11998e;
  background: linear-gradient(125deg, #38ef7d, #11998e) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.bonus {
  background: #fbd3e9;
  background: linear-gradient(125deg, #fbd3e9, #de6262) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.payouts {
  background: #b993d6;
  background: linear-gradient(125deg, #b993d6, #8ca6db) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.transactions {
  background: #dad299;
  background: linear-gradient(125deg, #dad299, #b0dab9) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.subscriptions {
  background: #7474bf;
  background: linear-gradient(125deg, #7474bf, #348ac7) no-repeat;
  color: #fff;
}

.dashboard-content .admin-dash.referrals {
  background: #757f9a;
  background: linear-gradient(125deg, #d7dde8, #757f9a) no-repeat;
  color: #fff;
}

.dashboard-content .pay-now-btn .btn {
  border-radius: 25px;
  float: right;
}

.dashboard-content .box-icon svg {
  font-size: 30px;
}

.dashboard-content .premium-user {
  font-size: 15px;
  color: rgba(23, 109, 207, 0.8);
  margin-left: 5px;
}

.dashboard-content input.form-control select {
  height: 40px;
}

.form-floating label {
  font-size: 14px;
}

.dash-full {
  margin-left: 0px;
}

/* Signal */
.signal-page {
  min-height: 1000px;
  margin-bottom: 50px;
}

.signal-detail {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1%;
  min-height: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: rgba(31, 30, 30, 0.8);
}

.signal-detail .currency-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.signal-detail .signal-about,
.signal-detail .signal-from,
.signal-detail .signal-to,
.signal-detail .signal-sold-at,
.signal-detail .signal-bought-at,
.signal-detail .signal-pip,
.signal-detail .signal-provider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border-bottom: 1px dashed #727272;
  margin: 0px 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.signal-detail .signal-pip {
  border-bottom: none;
}

.signal-detail .signal-status {
  border-bottom: 1px dashed #727272;
  margin: 0px 10px;
}

.signal-detail .signal-status .signal-stat {
  text-align: center;
  text-transform: capitalize;
}

.signal-detail .signal-opt {
  text-transform: capitalize;
}

.signal-detail .signal-align-right {
  justify-self: flex-end;
}

.signal-detail .take-stop {
  margin-right: 5px;
}

.signal-detail .signal-title {
  font-weight: 400;
}

.signal-detail .currency-image .flag {
  margin-right: 5px;
  margin-top: 5px;
}

.signal-detail .signal-currency {
  padding: 10px 5px;
  background: rgba(23, 109, 207, 0.8);
  color: #fff;
}

.signal-detail .currency-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal-detail .currency-return.signal-align-right {
  font-size: 22px;
  margin-right: 5px;
}

.signal-detail .signal-value {
  text-transform: capitalize;
}

.currency-flag {
  margin-right: 5px;
}

.currency-flag svg {
  font-size: 30px;
}

.currency-name {
  text-transform: uppercase;
}

/* Loader */
.progress {
  height: 2.5px;
  inset: 0;
  z-index: 9999;
  background: transparent;
}

.progress-bar {
  position: relative;
  -webkit-animation: progress-indeterminate 3s linear infinite;
          animation: progress-indeterminate 3s linear infinite;
}

@-webkit-keyframes progress-indeterminate {
  from {
    left: -20%;
    width: 20%;
  }
  to {
    left: 100%;
    width: 20%;
  }
}

@keyframes progress-indeterminate {
  from {
    left: -20%;
    width: 20%;
  }
  to {
    left: 100%;
    width: 20%;
  }
}

.loader {
  text-align: center;
  margin-top: 50px;
}

/* Page cards */
.holder-card {
  padding: 30px;
}

/* Transactions Badges */
.table-figure .badge {
  margin-left: 5px;
}

/* Pay Page */
.pay-plan .pay-plan-box {
  height: 100px;
  width: 200px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
}

.pay-plan .pay-plan-box h2 {
  font-weight: 900;
}

.pay-plan .pay-plan-box h4 {
  font-weight: 600;
}

.pay-plan .pay-method button {
  height: 100px;
  margin-right: 10px;
}

.pay-plan .customer-plan {
  padding: 5px 10px;
}

.pay-plan .customer-plan h2 {
  font-weight: 600;
}

.pay-plan h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: clamp(1.5vw, 14px, 2.5vh);
}

.pay-plan input#pay-months {
  max-width: 100px;
  font-weight: 600;
}

.pay-plan .pay-plan-selected {
  background: rgba(184, 184, 184, 0.5);
}

.pay-plan label {
  font-weight: 600;
}

/* Admin */
.dashboard-admin-intro.card {
  margin-bottom: 20px;
}

.action-buttons .btn {
  margin-right: 10px;
  height: 30px;
  color: #fff;
}

/* Add Signal Modal*/
/* Toast */
.toast {
  position: fixed;
  z-index: 9999;
  bottom: 60px;
  left: 20px;
}

.toast .toast-header {
  color: #fff;
  background: inherit;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
}

.toast svg {
  font-size: 20px;
}

.toast-error {
  background: #dc2430;
}

.toast-success {
  background: #2eba61;
}

/* Tooltip */
.tiptool {
  position: relative;
  display: inline-block;
  top: 5%;
  right: 45%;
}

.tiptool .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  left: 50%;
  /* Fade in tooltip */
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tiptool .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.showTip .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Settings*/
/* Tab Panel */
.tab-content {
  min-height: 500px;
  padding: 20px 0px;
}

.settings-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px dashed rgba(141, 191, 248, 0.5);
}

.settings .nav-link {
  color: rgba(133, 133, 133, 0.8) !important;
}

.settings .nav-link.active {
  background: rgba(233, 233, 233, 0.8) !important;
  border-bottom: 2px solid #cfcfcf;
  border-radius: unset;
  font-weight: 500;
}

.first-account.card {
  padding: 20px;
}

.first-account.card h3 {
  font-size: clamp(1.5vw, 15px, 1.5vh);
  font-weight: 400;
  text-align: center;
}

.first-account.card button {
  text-align: right;
}

.settings-form-card {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

.settings-form-signal {
  padding: 20px;
}

.settings-form-notify {
  height: 200px;
}

.settings-form-password {
  height: 400px;
}

.settings-info {
  text-transform: uppercase;
}

.add-new-account {
  text-align: right;
}

.account-details {
  padding: 10px;
}

.account-details h4 {
  text-align: center;
}

ul.list-group.list-group-horizontal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.list-group.list-group-horizontal .list-group-item {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  padding: 5px;
}

ul.list-group.list-group-horizontal svg {
  width: 20px;
  height: auto;
}

.remove-selected-item {
  color: #dc2430;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.settings-form-profile input {
  text-transform: capitalize;
}

.account-form select {
  text-transform: capitalize;
}

/* Discussions */
.discussion-card {
  border-radius: 15px;
  min-height: 150px;
  padding: 20px;
  background: rgba(179, 214, 255, 0.2) !important;
}

.discussion-card .forum-title {
  text-transform: capitalize;
}

.discussion-card .forum-text {
  text-transform: capitalize;
}

.discussion-card .forum-from {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
}

.discussion-card .forum-from p {
  margin-bottom: 0.5px !important;
}

.discussion-card .forum-from svg {
  font-size: 20px;
  margin-right: 5px;
}

.discussion-card .forum-time {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
}

.discussion-card .forum-right {
  margin-right: 10px;
}

.discussion-card .forum-status {
  padding: 5px 10px;
  border: 1px solid rgba(64, 89, 209, 0.5);
  font-size: 15px;
  border-radius: 30px;
  background: rgba(64, 89, 209, 0.2);
  color: #4059d1;
  float: right;
}

.reply-form textarea {
  height: 100px !important;
}

.forum-from {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
}

.forum-from p {
  margin-bottom: 0.5px !important;
}

.forum-from svg {
  font-size: 20px;
  margin-right: 5px;
}

.forum-time {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
}

.forum-right {
  margin-right: 10px;
}

.forum-action .btn {
  border-radius: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.forum-action .btn svg {
  margin-left: 20px;
}

.reply-card.card {
  padding: 20px;
  border-radius: 20px;
  background: rgba(206, 206, 206, 0.1) !important;
}

.reply-card.card.move-left {
  background: rgba(102, 102, 102, 0.2) !important;
}

.reply-count {
  float: right;
}

/* Admin Views */
.view-card {
  padding: 20px;
}

.view-card .card-line-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px dashed #cecece;
  padding: 15px 0px 5px;
  text-transform: capitalize;
}

.view-card .card-value {
  justify-self: flex-end;
}

.view-card svg {
  margin-right: 5px;
}

.view-card .lower {
  text-transform: lowercase;
}

.view-card .admin-change-email-btn button {
  width: 40%;
}

/*Spinner*/
.icon-spin {
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Scroller */
.scroll-up {
  bottom: 60px;
  position: fixed;
  z-index: 1;
  font-size: 40px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: rgba(23, 109, 207, 0.8);
}

.showscroller {
  display: block;
  -webkit-animation: scroller 1s;
          animation: scroller 1s;
}

@-webkit-keyframes scroller {
  0% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 40px;
  }
}

@keyframes scroller {
  0% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 40px;
  }
}

/* Pay table */
.choose-plan {
  text-align: center;
}

.pay-table {
  width: 80%;
  margin: 0px auto 60px;
}

.crypto-card.card svg {
  color: #00afe1;
}

.bank-card.card svg {
  color: #002855;
}

.plan-pay-card.card {
  padding: 20px;
}

.plan-pay-card.card .monthly-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-pay-card.card .change-month-sub {
  width: 100px;
  margin: 10px auto 0;
}

.plan-pay-card.card .total-box {
  text-align: right;
}

.gateways-available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gateways-available .card {
  width: 200px;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gateways-available svg {
  font-size: 4.5em;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.pay-gateway {
  text-align: center;
  padding: 20px;
}

.pricing-table-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.6em;
  color: #fff;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table-title a {
  font-size: 0.6em;
}

.pricing-wrapper {
  width: 960px;
  margin: 40px auto 0;
}

.pricing-table {
  margin: 0 10px;
  text-align: center;
  width: 400px;
  float: left;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.pricing-table:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.pricing-title {
  color: #fff;
  background: rgba(46, 186, 97, 0.8);
  padding: 15px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table.recommended .pricing-title {
  background: rgba(23, 109, 207, 0.8);
}

.pricing-table.recommended .pricing-action {
  background: rgba(23, 109, 207, 0.8);
}

.pricing-table .price {
  background: #403e3d;
  font-size: 2em;
  font-weight: 700;
  padding: 10px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.pricing-table .price sup {
  font-size: 0.4em;
  position: relative;
  left: 5px;
}

.table-list {
  background: #fff;
  color: #403d3a;
}

.table-list li {
  font-size: 0.9em;
  font-weight: 700;
  padding: 8px 8px;
}

.table-list li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #3fab91;
  display: inline-block;
  position: relative;
  right: 5px;
  font-size: 16px;
}

.table-list li span {
  font-weight: 400;
}

.table-list li span.unlimited {
  color: #fff;
  background: #cb5442;
  font-size: 0.8em;
  padding: 5px 7px;
  display: inline-block;
  border-radius: 38px;
}

.table-list li:nth-child(2n) {
  background: #f0f0f0;
}

.table-buy {
  background: #fff;
  padding: 15px;
  text-align: left;
  overflow: hidden;
}

.table-buy p {
  float: left;
  color: #37353a;
  font-weight: 700;
  font-size: 1.4em;
}

.table-buy p sup {
  font-size: 0.5em;
  position: relative;
  left: 5px;
}

.table-buy .pricing-action {
  float: right;
  color: #fff;
  background: rgba(46, 186, 97, 0.8);
  padding: 5px 16px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: none;
}

.table-buy .pricing-action:hover {
  background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
  background: #48acf0;
}

/* Card Figures*/
.transactions-total.table-figure {
  margin-top: 10px;
}

.active-status span svg {
  color: #04c734;
}

.inactive-status span svg {
  color: #dd1010;
}

.new-status svg {
  color: #06c2f7;
}

.error-main {
  height: 700px;
  background: url("../asset/images/error404.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 768px;
  }
  .pricing-table {
    width: 236px;
  }
  .table-list li {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px;
  }
  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .dashboard-content {
    padding: 10px 20px;
    margin-left: 0px;
  }
  .dash-card {
    margin-bottom: 20px;
  }
  .nav-logo {
    margin-left: 5px;
  }
  .navbar > .container-fluid {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  table.mytable {
    width: 200%;
  }
  tr {
    width: 100px;
  }
  .navbar-toggle.collapsed.pull-left {
    margin-left: 40px;
    border: unset;
    background: transparent;
    display: block;
  }
  ul.dropdown-menu {
    margin-left: 0px;
  }
  .home-page .home-box {
    width: 350px;
  }
  .sidebar {
    width: 0px;
  }
  .sidebar .hide-nav {
    display: none;
  }
  .sidebar .side-nav-list {
    width: 0px;
  }
  .hide-side {
    width: 200px;
  }
  .hide-side .side-nav-list {
    width: 200px;
  }
  .settings .nav-item,
  .settings .nav-link {
    width: 100%;
  }
  .settings .dash-card {
    width: 100%;
  }
  .settings .dash-card .input-group {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .currency-list {
    margin-bottom: 20px;
  }
  .currency-list .btn {
    font-size: 16px;
  }
  .settings-form-signal .btn {
    font-size: 14px;
    padding: 10px;
  }
  .settings-info {
    overflow-wrap: anywhere;
  }
  .pay-table {
    width: 100%;
  }
  .crypto-card.card {
    margin-right: 20px;
  }
  .error-main {
    background-size: 500px;
  }
  .main--nav .navbar-toggler {
    margin-left: 100px;
  }
  .tiptool {
    top: -5%;
    left: 30%;
  }
}

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 300px;
  }
  body {
    overflow-x: hidden;
  }
}

.dark-content {
  background: #121212;
  color: rgba(255, 255, 255, 0.9);
}

.dark-content nav.navbar {
  background: #121212 !important;
  -webkit-box-shadow: 1px 1px 1px #3a3a3a;
          box-shadow: 1px 1px 1px #3a3a3a;
}

.dark-content nav.navbar .nav-item {
  color: rgba(255, 255, 255, 0.9);
}

.dark-content #mySidebar {
  background: #121212;
  -webkit-box-shadow: 1px 1px 1px #3a3a3a;
          box-shadow: 1px 1px 1px #3a3a3a;
}

.dark-content .dashboard-body {
  background: #121212;
}

.dark-content .dashboard-body svg,
.dark-content .dashboard-body span {
  color: rgba(255, 255, 255, 0.7);
}

.dark-content .dashboard-body .toggle-btn .btn {
  background: rgba(255, 255, 255, 0.7) !important;
}

.dark-content .dashboard-body .input-group input {
  background: transparent;
}

.dark-content .dashboard-body .card {
  background: #121212;
  color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 1px #3a3a3a;
          box-shadow: 1px 1px 1px #3a3a3a;
}

.dark-content .dashboard-body .signal-detail {
  color: rgba(255, 255, 255, 0.9);
}

.dark-content .dashboard-body .signal-detail .signal-currency {
  background: rgba(255, 255, 255, 0.7);
  color: #121212;
}

.dark-content .dashboard-body .signal-detail .signal-currency svg {
  color: #121212;
}

.dark-content .dashboard-body .form-select {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.dark-content .dashboard-body .btn,
.dark-content .dashboard-body .default-btn {
  background: #121212 !important;
  -webkit-box-shadow: 1px 1px 1px #3a3a3a;
          box-shadow: 1px 1px 1px #3a3a3a;
  border: 1px solid #fcfcfc;
}

.dark-content .dashboard-body table tbody > tr:hover {
  background: #3a3a3a;
}

.dark-content .dashboard-body table tbody > tr:hover td {
  color: #fcfcfc;
  font-weight: 600;
}

.dark-content .dashboard-body table td {
  color: rgba(255, 255, 255, 0.9);
}

.dark-content .dashboard-body input#pay-months {
  color: rgba(255, 255, 255, 0.7);
}

.dark-content .dashboard-body .form-floating input {
  background: transparent;
}

.dark-content .dashboard-body .list-group-item.d-flex.justify-content-between {
  background: #3a3a3a !important;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid #fcfcfc;
}

.dark-content .dashboard-body ul.dropdown-menu {
  background: #3a3a3a;
}

.dark-content .dashboard-body ul.dropdown-menu .dropdown-item:hover {
  background: #121212;
}

.dark-content .dashboard-body ul.dropdown-menu .dropdown-item a {
  color: rgba(255, 255, 255, 0.9);
}

.dark-content .dashboard-body .footer-nav {
  border-top: 1px solid #3a3a3a;
}

.dark-content .dashboard-body .pay-now-btn .btn {
  background: rgba(255, 255, 255, 0.7) !important;
  color: #3a3a3a;
}

.dark-content .dashboard-body .dash-card {
  -webkit-box-shadow: 0.5px 0.5px 2px #fcfcfc;
          box-shadow: 0.5px 0.5px 2px #fcfcfc;
}

.dark-content .dashboard-body .modal-content {
  background: #121212;
}

.dark-content .dashboard-body .ann-card {
  background: #121212;
}

.dark-content .dashboard-body .active-status span svg {
  color: #04c734;
}

.dark-content .dashboard-body .inactive-status span svg {
  color: #dd1010;
}

.dark-content .dashboard-body .new-status svg {
  color: #06c2f7;
}

.dark-content .dashboard-body textarea {
  background: #121212;
}
/*# sourceMappingURL=sub.css.map */